/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$button-orange-color: #F58220;
$slider-orange-color: #FFA200;
$background-color: #F5F5F2;
$hover-color: #E3E3E3;
$message-reply-color: #a4a4a4;
$cancel-color: #979797;
$marked-color: #04AE00;
$link-color: #56819F;
$pos-notification-light: #96CC9B;
$pos-notification-dark: #74B67A;
$neg-notification-light: #EC7171;
$neg-notification-dark: #DE5252;


/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
