/* Box date */

.box__date {
	display: flex;
	justify-content: center;
	padding: 30px;
	border-bottom: 1px solid $hover-color;
}

.box__date-cal {
	width: 320px;
	border: 1px solid $hover-color;
	border-radius: 3px;
	display: flex;
}

.box__date-cal svg {
	vertical-align: middle;
	margin-top: 10px;
	fill: $message-reply-color;
}

.box__date-text{
	border-left: 1px solid $hover-color;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

/* Box list */

.box__list, .box__chart  {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0 30px 0;
}

.box__list-row {
	display: inline-flex;
	border-bottom: 1px solid $hover-color;
	justify-content: space-between;
	line-height: 0;
	padding-top: 20px;
}

.second {
	float: right;
}

/* Chart */

.box__chart-tabs {
	display: flex;
	justify-content: center;
}
