input {
	font-family: $paragraph-font;
	font-size: $paragraph-font-size;
	display: inline-block;
	padding: 8px 16px;
	border: none;
}

textarea {
	font-family: $paragraph-font;
	font-size: $paragraph-font-size;
	border: none;
	outline: none;
	resize: none;
	overflow: hidden;
	width: 250px;
}
